header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
}

header h1{
    cursor: pointer;
    margin-left: 5%;
}



.search-container{
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    align-items: center;
    gap: 2em;
}

.search-container input[type="text"]{
    /* width: 50%; */
    padding: 2%;
    border-radius: 25px;
    background-color: rgb(242, 242, 242);
    font-size: 20px;
}
.search-container button[type="submit"] {
    padding: 3% 10% 3% 10%;
    border-radius: 10px;
    margin-right: 25%;
    background-color: #00ff33; /* Replace with your desired color */
    color: rgb(254, 254, 254);
    font-size: 20px;
    transition: transform 0.3s ease-in-out;
}

.search-container button[type="submit"]:hover {
    transform: translateY(-5px); /* Adjust the value to control the amount of movement */
}

